#CheckBoxOlympics{
    position: relative;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    background-color: black;
}

#SubmitButton {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border-color: black;
    font-weight: bold;
}
#NumberCheckBox {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
}
label{
    color: black;
    padding-top: 200px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#TimeCounter{
    color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
